@charset "utf-8";

@mixin sp {
    @media screen and (max-width:1000px) {
        @content
    }
}

body {
    background-color: #a9ceec;
    color: #fff;
}

label {
    margin-bottom: 20px;
}

input {
    background-color: #fff;
    width: 50%;
}

select {
    background-color: #fff;
    padding: 5px;
}

.none {
    display: none;
}

.main {

    width: 30%;
    margin: 0 auto;

    @include sp {
        width: 100%;
        margin: 10px;
    }

    &__title {
        margin: 40px 0 40px;
        font-size: 1.5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__button {
        color: #fff;
        background-color: #216d68;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 18px;
    }
}

.result {

    &__caution {
        color: #f00;
        font-size: 2rem;
    }

    &__before {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__after {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__card {
        width: 10%;
        aspect-ratio: 59/86;
        margin: 1.25%;
        padding: 2%;
        background-color: #BB9C71;
        text-align: center;
    }

    &__text {
        font-size: 2rem;
        margin: 10px;
    }

    &__arrow {
        font-size: 3rem;
        text-align: center;
        margin: 20px;
    }
}