@charset "utf-8";
$main-color:#BC3434;
$link-color:#ff2222;
$sub-color:#222222;
$border:1px solid $sub-color;

@mixin flex($w:nowrap, $j:space-between, $a:center){
    display: flex;
    flex-wrap: $w;
    justify-content: $j;
    align-items: $a;
}

@mixin title{
    text-align: center;
    margin:3.125rem auto;
    padding:3.125rem 0;
    height:9.375rem;
    background:url("../images/title_bg.png") no-repeat center center/ contain;
}

@mixin inner{
    width: 80%;
    max-width: 1270px;
    margin:0 auto;
}

@mixin area($p:30% 8% 6% 52%){
    padding:$p;
    margin-bottom: (50/16)+rem;
    border-radius: (50/16)+rem;
}

@mixin areatext{
    padding: 3.125rem 6.25rem 3.125rem;
    border-radius: .625rem;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
}

@mixin link{
    margin-top: 30px;
    color:$link-color;
    font-weight: bold;
}

body{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: (26/18);
    letter-spacing: 0;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

ul{
    list-style: none;
}

li{
    font-size: 1.125rem;
}

h2{
    font-size: 30px;
}

strong{
    font-size:44px;
    color: $link-color;
}

small{
    color:#fff;
    font-size: 14px;
}

.index{

    background-color: $main-color;

    &__logo{
        width:(200/16)+rem;
        height: auto;
    }

    &__title{
        width: (350/16)+rem;
    }

    &__inner{
        @include inner();
    }

    &__titleflex{
        @include flex;
    }

    &__flex{
        @include flex;
    }

    &__item{
        display: block;
    }

    &__inflex{
        width: 60%;
        @include flex;
    }

    &__address{
        margin-left: 200px;
    }

    &__nav{
        padding:20px;
        background-color: $sub-color;
        height: 80px;
    }

    &__current{
        color: $main-color;
        font-weight: bold;
    }

    &__img{
        object-fit: cover;
        width:100%;
        height:100vh;
    }
}

.nav{

    &__item{
        padding-top: 7px;
        padding-bottom: 7px;
        margin: auto;
        height:40px;
        width: 20%;
        color: #fff;
        border-left:1px solid #fff;
        text-align: center;
    }

    &__right{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20%;
        height:40px;
        color: #fff;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        text-align: center;
    }
}

.main{
    &__inner{
        @include inner;
    }
}

.menu{

    text-align: center;

    &__title{
        @include title;
    }

    &__text{
        margin-bottom: 50px;
    }

    &__flex{
        margin:0 auto;
        width:100%;
        @include flex(wrap,center,center);
    }

    &__card{
        margin:0 20px 50px;
        width: 30%;
        background-color: $sub-color;
        border-radius:30px;
    }

    &__carddrink{
        padding:125px 0;
        margin: 0 20px 50px;
        width: 30%;
        background-color: $sub-color;
        border-radius:30px;
    }

    &__cardimg{
        border-radius: 30px 30px 0 0;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__cardtxt{
        color: #fff;
        padding:28px 0;
        font-size: 20px;
    }

    &__strong{
        font-size: 20px;
    }
}

.commit{

    &__title{
        @include title;
    }

    &__area{
        @include area;
        background: url("../images/commitment.png")no-repeat center center/ cover;
    }

    &__text{
        @include areatext;
    }
}

.appearance{

    &__title{
        @include title;
    }
}

.exterior{

    text-align: center;

    &__title{
        @include title;
    }

    &__img{
        object-fit: cover;
        width: 80%;
        height: 50vh;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    &__area{
        @include area;
        background: url("../images/exterior.jpg")no-repeat center center/ cover;
    }

    &__text{
        @include areatext;
    }

    &__link{
        @include link;
    }
}

.interior{

    text-align: center;

    &__title{
        @include title;
    }

    &__img{
        object-fit: cover;
        width: 80%;
        height: 50vh;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    &__area{
        @include area(30% 52% 6% 8%);
        background: url("../images/interior.jpg")no-repeat center center/ cover;
    }

    &__text{
        @include areatext;
    }

    &__link{
        @include link;
    }
}

.access{

    &__title{
        @include title;
    }

    &__flex{
        @include flex;
        margin-bottom: 50px;
    }

    &__table{
        width: 45%;
        border-collapse: collapse;
    }

    &__caption{
        width: 25%;
        height: 56px;
        color: #fff;
        border: $border;
        background-color: $main-color;
    }

    &__subcap{
        width: 25%;
        height: 28px;
        border: $border;
    }

    &__item{
        padding-left:10px;
        border: $border;
    }

    &__map{
        width: 600px;
        height: 450px;
    }
}

.table{

    &__caption{
        margin-top:10px;
        text-align: left;
        caption-side: bottom;
    }
}

.footer{
    background-color: $main-color;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &__inner{
        @include inner;
    }

    &__logo{
        margin-bottom: 20px;
    }

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        margin-bottom: 20px;
    }

    &__nav{
        margin-bottom:20px;
    }

    &__flex{
        @include flex;
    }

    &__current{
        color: $sub-color;
        font-weight: bold;
    }
}

@media(max-width:680px){

@mixin title{
    margin:1.875rem auto;
    padding:1.875rem 0;
    height: 5.625rem;
}

@mixin inner{
    width: 90%;
    max-width: 640px;
}

@mixin area{
    height:60vw;
    padding:0 0 0 40vw;
    border-radius: 1.875rem;
    margin-bottom: 3.125rem;
}

@mixin areatext{
    padding: 1rem 1rem;
    border-radius: .625rem;
}

@mixin link{
    margin-top: 30px;
    color:$link-color;
    font-weight: bold;
}

body{
    font-size: .625rem;
}

    h2{
        font-size: 1.25rem;
    }

    strong{
        font-size: 1.875rem;
    }

    small{
    color:#fff;
    font-size: .625rem;
    }

    .index{

    &__inner{
        @include inner;
    }

    &__titleflex{
        display: block;
    }

    &__item{
        display: block;
    }

    &__inflex{
        width: 40%;
    }

    &__address{
        display: none;
    }

    &__nav{
        padding:.5rem;
        background-color: $sub-color;
        height: 4rem;
    }

    &__current{
        color: $main-color;
        font-weight: bold;
    }

    &__img{
        object-fit: cover;
        width:100%;
        height:50vh;
    }
}

.nav{

    &__item{
        font-size: .75rem;
        margin: auto;
        height:1.25rem;
        color: #fff;
        border: none;
        text-align: center;
    }

    &__right{
        font-size: .75rem;
        height: 1.25rem;
        color: #fff;
        border: none;
        text-align: center;
    }
}

.menu{

    &__title{
        @include title;
    }

    &__text{
        margin-bottom: 20px;
    }

    &__flex{
        width:100%;
    }

    &__card{
        margin:0 10px 20px;
        width: 80%;
        border-radius:30px;
    }

    &__carddrink{
        padding:125px 0;
        margin: 0 10px 20px;
        width: 80%;
        background-color: $sub-color;
        border-radius:30px;
    }

    &__cardimg{
        border-radius: 30px 30px 0 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__cardtxt{
        color: #fff;
        padding:20px 0;
        font-size: 16px;
    }

    &__strong{
        font-size: 16px;
    }
}

.commit{

    &__title{
        margin:30px auto;
        padding:30px 0;
        height:90px;
    }

    &__area{
        @include area;
    }

    &__text{
        @include areatext;
    }

}

.appearance{

    &__title{
        @include title;
    }
}

.exterior{

    &__title{
        @include title;
    }

    &__img{
        object-fit: cover;
        width: 100%;
        height: 60vw;
        margin-bottom: 3.125rem;
        border-radius: 1.875rem;
    }

    &__area{
        @include area;
    }

    &__text{
        @include areatext;
    }

    &__link{
        margin-top: 10px;
    }
}

.interior{

    &__title{
        @include title;
    }

    &__img{
        object-fit: cover;
        width: 80%;
        height: 50vh;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    &__area{
        @include area;
    }

    &__text{
        @include areatext;
    }

    &__link{
        margin-top: 10px;
    }
}

.access{

    &__title{
        @include title;
    }

    &__flex{
        display: block;
        margin-bottom: 20px;
    }

    &__table{
        width: 100%;
        margin-bottom: 20px;
    }

    &__caption{
        height: 40px;
    }

    &__subcap{
        height: 20px;
    }

    &__item{
        padding-left:8px;
        border: $border;
    }

    &__map{
        width:100%;
        height: 40vh;
    }
}

.footer{
    padding-top: 10px;
    padding-bottom: 10px;

    &__inner{
        @include inner;
    }

    &__logo{
        width:30%;
        margin-bottom: 10px;
    }

    &__title{
        width: 50%;
        margin-bottom: 10px;
    }

    &__text{
        font-size: 10px;
        margin-bottom: 10px;
    }

    &__nav{
        margin-bottom:10px;
    }

    &__flex{
        width: 100%;
        @include flex;
        margin-bottom: 30px;
    }

    &__current{
        color: $sub-color;
        font-weight: bold;
    }
}

}

/* menu */

.cuisine{

    @include inner;

    &__title{
        @include title;
    }

    &__flex{
        margin: 0 auto;
        width:80%;
        @include flex(wrap,center,center);
    }

    &__card{
        margin: 0 30px 60px 30px;
        width: 35%;
        background-color: $main-color;
        border-radius: 40px;
        padding: 40px 20px 0;
    }

    &__cardlong{
        margin:0 30px 60px 30px;
        width: 76.5%;
        background-color: $main-color;
        border-radius: 40px;
        padding: 10px 20px 0;
    }

    &__nav{
        margin-bottom: 50px;
        @include flex;
    }

    &__item{
        color: $sub-color;
        width:(100%/6);
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        height:40px;
        border-left:1px solid $sub-color;
        text-align: center;
    }

    &__right{
        color: $sub-color;
        width:(100%/6);
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        height:40px;
        border-left:1px solid $sub-color;
        border-right:1px solid $sub-color;
        text-align: center;
    }

    &__current{
        color: $link-color;
    }

    &__text{
        margin-bottom: 50px;
        text-align: center;
    }
}

.card{

    &__img{
        object-fit: cover;
        width:100%;
        height: 200px;
    }

    &__text{
        color: #fff;
        font-weight: bold;
        font-size:24px;
        margin: 20px;
    }

    &__textlong{
        color: #fff;
        font-weight: bold;
        font-size:24px;
        margin: 20px 20px 10px;
    }

    &__subtext{
        color: #fff;
        font-size: 18px;
        margin:0 0 30px 30px;
    }

    &__price{
        color: #fff;
        font-size:20px;
        margin: 20px;
        text-align: right;
    }

    &__pricelong{
        color: #fff;
        font-size:20px;
        margin: 20px;
        text-align: right;
    }
}

.drink{
    @include inner;

    &__title{
        @include title;
    }

    &__name{
        padding: 0;
        margin-bottom: 20px;
    }

    &__price{
        padding: 0;
        margin-bottom: 30px;
        overflow: hidden;
    }

    &__genre{
        margin-bottom: 50px;
        padding:20px;
        border: $main-color 3px solid;
        border-radius: 20px;
    }

    &__flex{
        @include flex(nowrap,space-between,top);
    }

    &__marginb{
        margin-bottom: 1.5em;
    }

    &__margint{
        margin-top: (22em/20);
    }

    &__marginl{
        margin-bottom: 3em;
    }

    &__subtitle{
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        color: $main-color;
    }

    &__text{
        line-height: 1.5;
        font-size: 20px;
    }

    &__subtext{
        font-size: 16px;
        line-height: (30/16);
    }
}

@media(max-width:680px){

.cuisine{


    width: 100%;
    max-width: 420px;


    &__title{
        margin:30px auto;
        padding:30px 0;
        height:90px;
    }

    &__flex{
        width: 100%;
    }

    &__card{
        margin: 0 20px 40px 20px;
        width: 80%;
        border-radius: 30px;
        padding: 30px 15px 0;
    }

    &__cardlong{
        margin:0 30px 60px 30px;
        width: 80%;
        border-radius: 30px;
        padding: 5px 10px 0;
    }

    &__nav{
        margin-bottom: 50px;
        @include flex;
    }

    &__item{
        height:40px;
        border-left:none;
        text-align: center;
    }

    &__right{
        color: $sub-color;
        width:(100%/6);
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        height:0px;
        border: none;
    }

    &__current{
        color: $link-color;
    }

    &__text{
        font-size: 10px;
    }
}

.card{

    &__img{
        height: 150px;
    }

    &__text{
        font-size:18px;
        margin: 10px;
    }

    &__textlong{
        font-size:18px;
        margin: 20px 20px 10px;
    }

    &__subtext{
        color: #fff;
        font-size: 12px;
        margin:0 20px 30px 30px;
    }

    &__price{
        font-size:14px;
        margin: 20px;
        text-align: right;
    }

    &__pricelong{
        color: #fff;
        font-size:14px;
        margin: 20px;
        text-align: right;
    }
}

.drink{
    width: 100%;
    max-width: 420px;

    &__title{
        @include title;
    }

    &__name{
        font-size:10px;
        padding: 0;
        margin-bottom: 30px;
    }

    &__price{
        font-size:10px;
        padding: 0;
        margin-bottom: 30px;
        overflow: hidden;
    }
    &__marginb{
        margin-bottom: 1.5em;
    }

    &__margint{
        margin-top: (22em/20);
    }

    &__marginl{
        margin-bottom: 3em;
    }

    &__subtitle{
        font-size: 8px;
        font-weight: bold;
        line-height: 1;
        color: $main-color;
    }

    &__text{
        line-height: 1.5;
        font-size: 10px;
    }

    &__subtext{
        font-size: 8px;
        line-height: (30/16);
    }
}
}