body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4444444444;
  letter-spacing: 0;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

li {
  font-size: 1.125rem;
}

h2 {
  font-size: 30px;
}

strong {
  font-size: 44px;
  color: #ff2222;
}

small {
  color: #fff;
  font-size: 14px;
}

.index {
  background-color: #BC3434;
}
.index__logo {
  width: 12.5rem;
  height: auto;
}
.index__title {
  width: 21.875rem;
}
.index__inner {
  width: 80%;
  max-width: 1270px;
  margin: 0 auto;
}
.index__titleflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.index__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.index__item {
  display: block;
}
.index__inflex {
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.index__address {
  margin-left: 200px;
}
.index__nav {
  padding: 20px;
  background-color: #222222;
  height: 80px;
}
.index__current {
  color: #BC3434;
  font-weight: bold;
}
.index__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

.nav__item {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: auto;
  height: 40px;
  width: 20%;
  color: #fff;
  border-left: 1px solid #fff;
  text-align: center;
}
.nav__right {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  height: 40px;
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
}

.main__inner {
  width: 80%;
  max-width: 1270px;
  margin: 0 auto;
}

.menu {
  text-align: center;
}
.menu__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.menu__text {
  margin-bottom: 50px;
}
.menu__flex {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu__card {
  margin: 0 20px 50px;
  width: 30%;
  background-color: #222222;
  border-radius: 30px;
}
.menu__carddrink {
  padding: 125px 0;
  margin: 0 20px 50px;
  width: 30%;
  background-color: #222222;
  border-radius: 30px;
}
.menu__cardimg {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__cardtxt {
  color: #fff;
  padding: 28px 0;
  font-size: 20px;
}
.menu__strong {
  font-size: 20px;
}

.commit__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.commit__area {
  padding: 30% 8% 6% 52%;
  margin-bottom: 3.125rem;
  border-radius: 3.125rem;
  background: url("../images/commitment.png") no-repeat center center/cover;
}
.commit__text {
  padding: 3.125rem 6.25rem 3.125rem;
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.appearance__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}

.exterior {
  text-align: center;
}
.exterior__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.exterior__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 50vh;
  margin-bottom: 50px;
  border-radius: 50px;
}
.exterior__area {
  padding: 30% 8% 6% 52%;
  margin-bottom: 3.125rem;
  border-radius: 3.125rem;
  background: url("../images/exterior.jpg") no-repeat center center/cover;
}
.exterior__text {
  padding: 3.125rem 6.25rem 3.125rem;
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.exterior__link {
  margin-top: 30px;
  color: #ff2222;
  font-weight: bold;
}

.interior {
  text-align: center;
}
.interior__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.interior__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 50vh;
  margin-bottom: 50px;
  border-radius: 50px;
}
.interior__area {
  padding: 30% 52% 6% 8%;
  margin-bottom: 3.125rem;
  border-radius: 3.125rem;
  background: url("../images/interior.jpg") no-repeat center center/cover;
}
.interior__text {
  padding: 3.125rem 6.25rem 3.125rem;
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.interior__link {
  margin-top: 30px;
  color: #ff2222;
  font-weight: bold;
}

.access__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.access__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.access__table {
  width: 45%;
  border-collapse: collapse;
}
.access__caption {
  width: 25%;
  height: 56px;
  color: #fff;
  border: 1px solid #222222;
  background-color: #BC3434;
}
.access__subcap {
  width: 25%;
  height: 28px;
  border: 1px solid #222222;
}
.access__item {
  padding-left: 10px;
  border: 1px solid #222222;
}
.access__map {
  width: 600px;
  height: 450px;
}

.table__caption {
  margin-top: 10px;
  text-align: left;
  caption-side: bottom;
}

.footer {
  background-color: #BC3434;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__inner {
  width: 80%;
  max-width: 1270px;
  margin: 0 auto;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__title {
  margin-bottom: 20px;
}
.footer__text {
  margin-bottom: 20px;
}
.footer__nav {
  margin-bottom: 20px;
}
.footer__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__current {
  color: #222222;
  font-weight: bold;
}

@media (max-width: 680px) {
  body {
    font-size: 0.625rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  strong {
    font-size: 1.875rem;
  }

  small {
    color: #fff;
    font-size: 0.625rem;
  }

  .index__inner {
    width: 90%;
    max-width: 640px;
  }
  .index__titleflex {
    display: block;
  }
  .index__item {
    display: block;
  }
  .index__inflex {
    width: 40%;
  }
  .index__address {
    display: none;
  }
  .index__nav {
    padding: 0.5rem;
    background-color: #222222;
    height: 4rem;
  }
  .index__current {
    color: #BC3434;
    font-weight: bold;
  }
  .index__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 50vh;
  }

  .nav__item {
    font-size: 0.75rem;
    margin: auto;
    height: 1.25rem;
    color: #fff;
    border: none;
    text-align: center;
  }
  .nav__right {
    font-size: 0.75rem;
    height: 1.25rem;
    color: #fff;
    border: none;
    text-align: center;
  }

  .menu__title {
    margin: 1.875rem auto;
    padding: 1.875rem 0;
    height: 5.625rem;
  }
  .menu__text {
    margin-bottom: 20px;
  }
  .menu__flex {
    width: 100%;
  }
  .menu__card {
    margin: 0 10px 20px;
    width: 80%;
    border-radius: 30px;
  }
  .menu__carddrink {
    padding: 125px 0;
    margin: 0 10px 20px;
    width: 80%;
    background-color: #222222;
    border-radius: 30px;
  }
  .menu__cardimg {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__cardtxt {
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
  }
  .menu__strong {
    font-size: 16px;
  }

  .commit__title {
    margin: 30px auto;
    padding: 30px 0;
    height: 90px;
  }
  .commit__area {
    height: 60vw;
    padding: 0 0 0 40vw;
    border-radius: 1.875rem;
    margin-bottom: 3.125rem;
  }
  .commit__text {
    padding: 1rem 1rem;
    border-radius: 0.625rem;
  }

  .appearance__title {
    margin: 1.875rem auto;
    padding: 1.875rem 0;
    height: 5.625rem;
  }

  .exterior__title {
    margin: 1.875rem auto;
    padding: 1.875rem 0;
    height: 5.625rem;
  }
  .exterior__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 60vw;
    margin-bottom: 3.125rem;
    border-radius: 1.875rem;
  }
  .exterior__area {
    height: 60vw;
    padding: 0 0 0 40vw;
    border-radius: 1.875rem;
    margin-bottom: 3.125rem;
  }
  .exterior__text {
    padding: 1rem 1rem;
    border-radius: 0.625rem;
  }
  .exterior__link {
    margin-top: 10px;
  }

  .interior__title {
    margin: 1.875rem auto;
    padding: 1.875rem 0;
    height: 5.625rem;
  }
  .interior__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 80%;
    height: 50vh;
    margin-bottom: 50px;
    border-radius: 50px;
  }
  .interior__area {
    height: 60vw;
    padding: 0 0 0 40vw;
    border-radius: 1.875rem;
    margin-bottom: 3.125rem;
  }
  .interior__text {
    padding: 1rem 1rem;
    border-radius: 0.625rem;
  }
  .interior__link {
    margin-top: 10px;
  }

  .access__title {
    margin: 1.875rem auto;
    padding: 1.875rem 0;
    height: 5.625rem;
  }
  .access__flex {
    display: block;
    margin-bottom: 20px;
  }
  .access__table {
    width: 100%;
    margin-bottom: 20px;
  }
  .access__caption {
    height: 40px;
  }
  .access__subcap {
    height: 20px;
  }
  .access__item {
    padding-left: 8px;
    border: 1px solid #222222;
  }
  .access__map {
    width: 100%;
    height: 40vh;
  }

  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__inner {
    width: 90%;
    max-width: 640px;
  }
  .footer__logo {
    width: 30%;
    margin-bottom: 10px;
  }
  .footer__title {
    width: 50%;
    margin-bottom: 10px;
  }
  .footer__text {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .footer__nav {
    margin-bottom: 10px;
  }
  .footer__flex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer__current {
    color: #222222;
    font-weight: bold;
  }
}
/* menu */
.cuisine {
  width: 80%;
  max-width: 1270px;
  margin: 0 auto;
}
.cuisine__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.cuisine__flex {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cuisine__card {
  margin: 0 30px 60px 30px;
  width: 35%;
  background-color: #BC3434;
  border-radius: 40px;
  padding: 40px 20px 0;
}
.cuisine__cardlong {
  margin: 0 30px 60px 30px;
  width: 76.5%;
  background-color: #BC3434;
  border-radius: 40px;
  padding: 10px 20px 0;
}
.cuisine__nav {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.cuisine__item {
  color: #222222;
  width: 16.6666666667%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  height: 40px;
  border-left: 1px solid #222222;
  text-align: center;
}
.cuisine__right {
  color: #222222;
  width: 16.6666666667%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  height: 40px;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  text-align: center;
}
.cuisine__current {
  color: #ff2222;
}
.cuisine__text {
  margin-bottom: 50px;
  text-align: center;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}
.card__text {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin: 20px;
}
.card__textlong {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 20px 10px;
}
.card__subtext {
  color: #fff;
  font-size: 18px;
  margin: 0 0 30px 30px;
}
.card__price {
  color: #fff;
  font-size: 20px;
  margin: 20px;
  text-align: right;
}
.card__pricelong {
  color: #fff;
  font-size: 20px;
  margin: 20px;
  text-align: right;
}

.drink {
  width: 80%;
  max-width: 1270px;
  margin: 0 auto;
}
.drink__title {
  text-align: center;
  margin: 3.125rem auto;
  padding: 3.125rem 0;
  height: 9.375rem;
  background: url("../images/title_bg.png") no-repeat center center/contain;
}
.drink__name {
  padding: 0;
  margin-bottom: 20px;
}
.drink__price {
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
}
.drink__genre {
  margin-bottom: 50px;
  padding: 20px;
  border: #BC3434 3px solid;
  border-radius: 20px;
}
.drink__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: top;
}
.drink__marginb {
  margin-bottom: 1.5em;
}
.drink__margint {
  margin-top: 1.1em;
}
.drink__marginl {
  margin-bottom: 3em;
}
.drink__subtitle {
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  color: #BC3434;
}
.drink__text {
  line-height: 1.5;
  font-size: 20px;
}
.drink__subtext {
  font-size: 16px;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .cuisine {
    width: 100%;
    max-width: 420px;
  }
  .cuisine__title {
    margin: 30px auto;
    padding: 30px 0;
    height: 90px;
  }
  .cuisine__flex {
    width: 100%;
  }
  .cuisine__card {
    margin: 0 20px 40px 20px;
    width: 80%;
    border-radius: 30px;
    padding: 30px 15px 0;
  }
  .cuisine__cardlong {
    margin: 0 30px 60px 30px;
    width: 80%;
    border-radius: 30px;
    padding: 5px 10px 0;
  }
  .cuisine__nav {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .cuisine__item {
    height: 40px;
    border-left: none;
    text-align: center;
  }
  .cuisine__right {
    color: #222222;
    width: 16.6666666667%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    height: 0px;
    border: none;
  }
  .cuisine__current {
    color: #ff2222;
  }
  .cuisine__text {
    font-size: 10px;
  }

  .card__img {
    height: 150px;
  }
  .card__text {
    font-size: 18px;
    margin: 10px;
  }
  .card__textlong {
    font-size: 18px;
    margin: 20px 20px 10px;
  }
  .card__subtext {
    color: #fff;
    font-size: 12px;
    margin: 0 20px 30px 30px;
  }
  .card__price {
    font-size: 14px;
    margin: 20px;
    text-align: right;
  }
  .card__pricelong {
    color: #fff;
    font-size: 14px;
    margin: 20px;
    text-align: right;
  }

  .drink {
    width: 100%;
    max-width: 420px;
  }
  .drink__title {
    text-align: center;
    margin: 3.125rem auto;
    padding: 3.125rem 0;
    height: 9.375rem;
    background: url("../images/title_bg.png") no-repeat center center/contain;
  }
  .drink__name {
    font-size: 10px;
    padding: 0;
    margin-bottom: 30px;
  }
  .drink__price {
    font-size: 10px;
    padding: 0;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .drink__marginb {
    margin-bottom: 1.5em;
  }
  .drink__margint {
    margin-top: 1.1em;
  }
  .drink__marginl {
    margin-bottom: 3em;
  }
  .drink__subtitle {
    font-size: 8px;
    font-weight: bold;
    line-height: 1;
    color: #BC3434;
  }
  .drink__text {
    line-height: 1.5;
    font-size: 10px;
  }
  .drink__subtext {
    font-size: 8px;
    line-height: 1.875;
  }
}
/*# sourceMappingURL=style.css.map */